* {
	/* reset default styles */
	margin: 0;
	padding: 0;
	box-sizing: border-box;  /* remove overflows toa ll elements */
}

nav {
	background-color: grey;
	height: 100%;
	width: 200px;
	position: fixed;
}

main {
	background-color: orange;
	margin-left: 200px; 
}

.banner {
	/*background-color: yellow;*/
	height: 700px;
	position: relative;
	background-color: skyblue;

}

.about {
	background-color: yellowgreen;
	/*height: 700px;*/
	/* background-image: url('../test_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */
	min-height: 300px;
}

.services {
	background-color: pink;
	/*height: 300px;*/
	min-height: 300px;
}

.projects {
	background-color: blue;
	min-height: 300px;
}

.gallery {
	background-color: hotpink;
	/*height: 400px;*/
	min-height: 400px;
}

footer {
	background-color: green;
	min-height: 50px;
}

nav, 
.banner, 
.about, 
.services, 
.projects, 
.gallery, 
footer {
	padding: 30px;
}

.logo {
	width: 140px;
	height: 140px;
	background-color: yellow;
	margin: 0 auto;
	margin-bottom: 10px;
}

ul > li {
	list-style: none;
	background-color: green;
	margin: 2px;
	line-height: 48px; /* no padding no border */
	text-align: center;
}

ul > li > a {
	text-decoration: none;
}

.box {
	border: 5px solid white;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.column {
	border: 1px solid black;
	width: 31%;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	padding: 10px;
	margin-bottom: 1%;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

img[alt*="Services"] {
	border: 1px solid #fff;
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	margin-right: 10px;
}

img[alt*="Services"] ~ p {
	overflow: hidden;
}

img[alt*="Services"] ~ h3 {
	margin-bottom: 10px;
}

.gallery > .column {
	width: 23%;
	margin: 0 1%;
}

img[alt*="Gallery"] {
	width: 100%;
	display: block;
	border: 1px solid black;
	height: 100px;
}

img[alt*="Social"] {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	float: left;
	margin-right: 10px;
}

div.contact {
	float: right;
}

/*mobile*/
@media only screen and (max-width: 400px) {
	.gallery > .column  {
		width: 90%;
		height: 50%;
	}
	.column {
		width: 100%;
		height: 30%;
	}
	.box {
		border: 5px solid white;
		text-align: center;
		width: 80%;
		padding: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}
	nav {
		position: static;
		width: 100%;
	}
	main {
		margin: 0 auto;
	}
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.column {
		width: 100%;
		height: 30%;
	}
	.gallery > .column  {
		width: 45%;
		height: 40%;
		float: left;
	}
}

/*laptop/desktop*/

@media only screen and (min-width: 961px) {
}